        
     
     <main class="page-content">     
        <section class="section-30 section-md-50">
          <div class="container">
             
              <div class="cell-md-8 cell-sm-10">
                  <section class="text-left">
                  
                        <form name="" action="/hrm/postrenewal" method="post" enctype="application/x-www-form-urlencoded">
                        <br><br><h6 class="text-bold"><%= title %> </h6>
                        <div class="text-subline"></div>
                            <div class="data2">                    
                    
                          <!-- Line 1 -->
                          <div class="range offset-top-17">                          
                              <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                                <div class="range">                                       
                                  <div class="cell-sm-3">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="staff_no">Staff Number</label>
                                        <input class="form-control form-control-has-validation form-control-last-child" id="renewal_staff_no" type="text" name="staff_no" value="<%= row.staff_no %>"/>
                                      </div>
                                  </div>
                                  <div class="cell-sm-3">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="served">Renewed Years</label>
                                        <input class="form-control form-control-has-validation form-control-last-child" id="renewal_period" type="text" name="renewal_period" value="<%= row.renewal_period %>"/>
                                      </div>
                                  </div>
                                  <div class="cell-sm-3">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="start_post">Start Date</label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="start_date" type="date" name="start_date" value="<%= row.start_date %>"/>
                                    </div>
                                  </div>

                                  <div class="cell-sm-3">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="end_post">End Date</label>
                                        <input class="form-control form-control-has-validation form-control-last-child" id="end_date" type="date" name="end_date" value="<%= row.end_date %>"/>
                                      </div>
                                  </div>

                                
                                 <% if(row.exist){ %>
                                 <div class="cell-sm-3">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="promo_id">Appointment/Promo ID</label>
                                      <select name="promo_id" class="form-control" id="renewal_promo_id">
                                           <option>Select Appointment Record</option>
                                      </select>
                                     
                                    </div>
                                 </div>
                                 <% } %>
                                </div>
                              </div>
                            </div>
                           
                           
                            <br><div class="text-subline"></div><br>
                        
                            <div class="offset-top-25">
                                <button class="btn btn-primary btn-2x" type="submit" onclick="return confirm('Do you want to Submit?');">SAVE</button>
                                <a href="javascript:history.back();" onclick="return confirm('Cancel?')" class="btn">CANCEL</a>
                                <input name="id" type="hidden" value="<%= row.id || 0 %>" />
                                <input name="exist" type="hidden" value="<%= row.exist ? '1' : '0' %>" />
                            </div>
                       <hr/>

                       </form>

                    </section>
              </div>
          </div>
        </section>
        
      </main>
      