        
     
     <main class="page-content">     
        <section class="section-30 section-md-50">
          <div class="container">
             
              <div class="cell-md-8 cell-sm-10">
                  <section class="text-left">
                      <h6 class="text-bold">BANK ACCOUNT REGISTRATION</h6>
                      <div class="text-subline"></div><br>
                  <form method="post" action="/hrm/postbank" enctype="application/x-www-form-urlencoded">                         

                        <div class="data2">                            
                                                          
                                   <!-- Line 2 -->
                                <div class="range offset-top-17">                          
                                    <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                                      <div class="range">
                                        <div class="cell-sm-3">
                                            <div class="form-group">
                                              <label class="form-label form-label-outside rd-input-label" for="bank_name">Bank Name</label>
                                              <input class="form-control form-control-has-validation form-control-last-child" id="bank_name" type="text" name="bank_name" value="<%= row.bank_name %>" data-constraints="@Required"><span class="form-validation"></span>
                                            </div>
                                        </div>                                        
                                        <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                          <div class="form-group">
                                            <label class="form-label form-label-outside rd-input-label" for="account_no">Bank Account Name</label>
                                            <input class="form-control form-control-has-validation form-control-last-child" id="account_name" type="text" name="account_name" value="<%= row.account_name %>" data-constraints="@Required"><span class="form-validation"></span>
                                          </div>
                                        </div>
                                        <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                            <div class="form-group">
                                              <label class="form-label form-label-outside rd-input-label" for="account_no">Bank Account No.</label>
                                              <input class="form-control form-control-has-validation " id="account_no" type="number" maxlength="20" name="account_no" value="<%= row.account_no %>" data-constraints="@Required"><span class="form-validation"></span>
                                            </div>
                                        </div>
                                        <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                            <div class="form-group">
                                              <label class="form-label form-label-outside rd-input-label" for="account_no">Bank Branch</label>
                                              <input class="form-control form-control-has-validation form-control-last-child" id="account_branch" type="text" name="account_branch" value="<%= row.account_branch %>" data-constraints="@Required"><span class="form-validation"></span>
                                            </div>
                                        </div>                                       
                                      </div>
                                    </div>
                                  </div>

                               

                                      <!-- Line 2-->
                                <div class="range offset-top-17">                          
                                    <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                                      <div class="range">                                
                                        <div class="cell-sm-3">                                          
                                            <div class="form-group">
                                                <label class="form-label form-label-outside rd-input-label" for="active">Set as Default?</label>
                                                <select name="active" class="form-control">
                                                    <option value="0" <%= row.active == '0' ? 'selected="selected"':'' %>>No</option> 
                                                    <option value="1" <%= row.active == '1' ? 'selected="selected"':'' %>>Yes</option>                                                  
                                               </select>
                                              </div>
                                          </div>                                       
                                      
                                      </div>
                                    </div>
                                  </div>
                                  <br><br><div class="text-subline"></div><br>
                        </div>

                        <div class="offset-top-25">
                             <button class="btn btn-primary btn-2x" type="submit">SAVE</button>
                             <a href="javascript:history.back();" onclick="return confirm('Cancel?')" class="btn">CANCEL</a>  
                             <input type="hidden" name="staff_no" value="<%= row.staff_no %>"/>
                             <input type="hidden" name="id" value="<%= row.id || 0 %>"/>                       
                        </div>
                       <hr/>
                       </form>
                    </section>
              </div>
          </div>
        </section>
        
      </main>
      