
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default"  id="page" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">                               
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> DATES OF BIRTH</li> 
                        </ul>
                        <hr style="border:1px dashed #0d2d62;"/>
                        
                        <!-- UNIT & SECTIONS -->
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                     <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">DATES OF BIRTH</h3></div>
                                     <div class="col-md-6"></div>
                                 </div>
                            
                                 <!-- UNIT CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable dob"> 
                                        <thead>
                                            <tr>
                                                <th>STAFF NO</th>
                                                <th>PHOTO</th>
                                                <th>FULL NAME</th>
                                                <th>STATUS</th>
                                                <th>AGE</th>
                                                <th>SSNIT DOB</th>
                                                <th>DATE OF BIRTH</th>
                                                <th>&nbsp;</th>                                        
                                            </tr> 
                                        </thead>   
                                      <!--  <tbody> 
                                            <% 
                                                dobs.map(dob => {
                                            %>  
                                            <tr>   
                                                <td><%= dob.id %></td> 
                                                <td align="center"><img src="<%= dob.photo != null ? dob.photo : '/public/images/none.png' %>" height="60px"/></td> 
                                                <td><%= dob.staff_no %></td> 
                                                <td><%= dob.name %></td> 
                                                <td><%= dob.dob != null  ? 'SET' : 'NONE' %></td> 
                                                <td><a class="btn btn-warning btn-sm  btn-icon btn-left"><%= dob.dob %></a></td> 
                                                <td>                                                      
                                                    <div class="group group-xl">                                                       
                                                        <a class="btn btn-default btn-sm" href="/hrm/editdob/<%= dob.id%>?url=1" title="Update Date of Birth" onclick="return confirm('Update Date of Birth?')"><i class="fa fa-edit"></i> update</a>
                                                    </div>
                                                </td>                                                                                                                          
                                            </tr>     
                                            <% }) %>                                       
                                        </tbody>-->
                                    </table>
                                </div>
                             </div>                        
                        </div>


                       

                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>