<!DOCTYPE>
<html lang="en">
<head>
    <title>ALL PaPeRs | <%- data[0].staff_no != null ? data[0].staff_no : '' %></title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
          body{
            background-color:#eee;              
          }

          .cover{
              width: 920px;             
              margin: 10px auto;  
              box-shadow:2px 2px 4px #999;
              padding:20px 35px; 
              background:#fff;           
          }

          .title{
              text-align: center;
              font-size:34px;
              color: rgb(8, 8, 148); 
          }

          .subtitle{
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-weight:bolder;
              text-align: center;
              font-size:25px;
              word-spacing:0.5em;
              color: red;
              font-style:italic;
              margin-top:-15px;
          }

          .subnote{
             position: relative;
             height:60px;             
          }

          .cover_adds{
              position:absolute;
              left:0;
              top:0; 
              font-size:12px;
              color:rgb(8, 8, 148); 
              line-height:18px;           
          }

         .ucc_title{
              position:absolute;
              right:0;
              top:0; 
              text-align:right; 
              font-size:18px;
              line-height:25px;
              word-spacing:0.35em;
              font-weight:bold;                         
          }
          .ucc_logo{
            position:absolute;
            left:44.9%;
            top:0;   
            height: 80px;  
            width: 90px;                 
          }

          content{
              font-family:'Arial Narrow', Arial, sans-serif;
              font-size: 17px;
              display:block;
              padding-top: 50px;
          }

          address{
              font-style:normal;
          }

          .signatory{
              width:200px;
              height:130px;
              background-image:url(/public/images/logo-170x172.png);
              background-repeat: no-repeat;             
              background-position: 0% 0%;
              background-size: 200px 65px;
              position: relative;
          }

          .signer{
              position:absolute;
              left:0;
              bottom:0;
          }

          .salute{
              margin-top:20px;
          }

          .ref{
              margin-bottom:20px;
          }

          .end{
              position:relative;              
          }

          .copies{
              position: absolute;
              right:25%;
              top: 0;
          }

          footer{
              margin:80px 0 10px;
              font-size:10px;
              font-family:cursive;
              font-style:italic;
          }

          .heading{
              text-align:center;
              background:#b80924;
              color:#fff;
              padding:10px 5px 10px 60px;
              text-indent: 80px;
          }

          .table{
              border-collapse: collapse;
              width: 100%;
              border:thin solid #000;
              padding: 20px;
              vertical-align:middle;
              text-align:center;
          }

          .table tr{
              border-bottom: thin solid #000;             
          }

          .table td{
              border-right: thin solid #000;
              padding: 10px;            
          }

          .certv{
              text-align:center;
          }

          .vbtn{
              padding:5px;
              margin-top:-20px;
              text-decoration:none;
              font-size:10px;
              background-color:green;
              color:#fff;
              position:relative;
              top:-10px;
              border-radius:10px;
          }

          .sbody{
              font-weight:600;
              font-size:15px;
              display:inline-block;
          }

          .file_photo{
              display:block;
              height:120px;
              right:0;
              float:right;
              margin:-25px 15px 10px 0;
              padding:2px;
              border:3px solid #b80924;
              border-radius:10px;
              background-color:#f1f2f3;
          }

          .marital{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              background-color:#b80924;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }

         .staff_no{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              letter-spacing:0.8em;
              background-color:#0d2d62;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }


          @media print {
              body{
                  background:none;
              }

              .cover{
                  padding:0;
                  background:none;
                  box-shadow:none;
              }

              .vbtn{
                  display:none;
              }
          }

    </style>
</head>
<body>
    <div class="cover">
          <header>
              <h1 class="title">UNIVERSITY OF CAPE COAST</h1>
              <h2 class="subtitle">DIRECTORATE OF HUMAN RESOURCE</h2>              
              <div class="subnote">
                    <div class="cover_adds">
                        <dl class="note">
                            <dt>Cellphone:  <div style="display:inline-block;vertical-align:top;font-weight:bold;">+233-3321-32480/3 Exts.: 223/225/205<br>233-3321-32484/5</div></dt>
                            <dt>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">dhr.enquiries@ucc.edu.gh</div></dt>
                            <dt>Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">www.ucc.edu.gh</div></dt>                   
                        </dl>                       
                    </div>
                
                  
                  <img src="/public/images/logo-170x172.png" alt="UCC LOGO" class="ucc_logo"/>
                  <address class="ucc_title">
                          UNIVERSITY POST OFFICE<br/>
                          CAPE COAST, GHANA
                  </address>
              </div>
              
          </header>  
          <content>
              <%- data[0].photo == null ? '<img src="/public/images/none.png" class="file_photo"/>':'<img src="'+data[0].photo+'" class="file_photo"/>' %>
              <h2 class="heading"><%= title %></h2>              
              <div class="content">
                  
                 <a class="marital">STAFF NO   </a>                 
                 <a href="javascript:;" class="staff_no"><%- data[0].staff_no != null ? data[0].staff_no : '' %></a>
                
                  
                  <table class="table">
                      <!-- Personal Information-->
                      <tr>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;">ALL PAPERS SUBMITTED</h4></td>
                          <td align="left"><h4 style="margin-bottom:-5px;"><%- data[0].name %></h4></td>
                      </tr>
                      <tr>
                            <td colspan="3">
                                <table class="table" style="background:pink;color:darkred"> 
                                    <tr>
                                       <!-- <th>Current Leave Entitlement</th>-->
                                        <!--<th>Outstanding Leave/Over Time Days</th>-->
                                        <!--<th>Days Already Taken</th>-->
                                        <th>Year</th>
                                        <th>Paper</th>
                                        <th>Type</th>                                        
                                        <th>Authenticity</th>
                                        <th>Usage</th>
                                        <th>&nbsp;</th>
                                        
                                       
                                    </tr> 
                                <% 
                                    let info = [];
                                    data.map(row => {
                                %>                                  
                                    <tr style="background:#f8f9fa">
                                        <!--<td><%- data.entitlement  %></td>-->
                                        <!--<td>Outstanding Leave/Over Time Days</td>-->
                                        <!--<td>Days Already Taken</td>-->
                                        <td><%- row.year %></td>
                                        <td><small style="font-size:10px;font-weight:bolder"><em><%- row.title %></em></small></td>
                                        <td><small><%- row.type %> <%- row.type == 'JOURNAL' ? '<center><em>(<a href="'+row.link+'" target="_blank" style="text-decoration:none;color:darkred">'+row.journal+'</a>)</em></center>' : '' %></small></td>                                       
                                        <td><small><%- row.valid == '1' ? 'VALID ( IN UCC )' : 'INVALID' %></small></td>
                                        <td><small><%- row.used == '1' ? `<a href="${row.application_id}">${row.application_type}</a>`:'NONE' %></small></td>
                                        <td>
                                            <small><%- row.attachment != null ? `<a href="${row.path}" target="_blank" style="text-decoration:none;padding:5px 10px;border-radius:5px;background:pink;color:darkred;box-shadow:0x 0px 4px #000">DOC</a>`:'' %></small>
                                        </td>
                                      
                                    </tr>
                                <% }); %>
                                </table>
                            </td>                            
                      </tr>
                     
                  </table>
                 
              </div>              
          </content>
          <footer>
              <span><%= 'DHR'+new Date().getFullYear()+'/'+user.staff_no %></span>
          </footer>        
    </div>

    <!--<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://example.com/the.pdf" width="500" height="375">-->
</body>
</html>