<!DOCTYPE>
<html lang="en">
<head>
    <title>PROMOTION REQUEST FILE | <%= data.status %></title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
          body{
            background-color:#eee;              
          }

          .cover{
              width: 920px;             
              margin: 10px auto;  
              box-shadow:2px 2px 4px #999;
              padding:20px 35px; 
              background:#fff;           
          }

          .title{
              text-align: center;
              font-size:34px;
              color: rgb(8, 8, 148); 
          }

          .subtitle{
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-weight:bolder;
              text-align: center;
              font-size:25px;
              word-spacing:0.5em;
              color: red;
              font-style:italic;
              margin-top:-15px;
          }

          .subnote{
             position: relative;
             height:60px;             
          }

          .cover_adds{
              position:absolute;
              left:0;
              top:0; 
              font-size:12px;
              color:rgb(8, 8, 148); 
              line-height:18px;           
          }

         .ucc_title{
              position:absolute;
              right:0;
              top:0; 
              text-align:right; 
              font-size:18px;
              line-height:25px;
              word-spacing:0.35em;
              font-weight:bold;                         
          }
          .ucc_logo{
            position:absolute;
            left:44.9%;
            top:0;   
            height: 80px;  
            width: 90px;                 
          }

          content{
              font-family:'Arial Narrow', Arial, sans-serif;
              font-size: 17px;
              display:block;
              padding-top: 50px;
          }

          address{
              font-style:normal;
          }

          .signatory{
              width:200px;
              height:130px;
              background-image:url(/public/images/logo-170x172.png);
              background-repeat: no-repeat;             
              background-position: 0% 0%;
              background-size: 200px 65px;
              position: relative;
          }

          .signer{
              position:absolute;
              left:0;
              bottom:0;
          }

          .salute{
              margin-top:20px;
          }

          .ref{
              margin-bottom:20px;
          }

          .end{
              position:relative;              
          }

          .copies{
              position: absolute;
              right:25%;
              top: 0;
          }

          footer{
              margin:80px 0 10px;
              font-size:10px;
              font-family:cursive;
              font-style:italic;
          }

          .heading{
              text-align:center;
              background:#b80924;
              color:#fff;
              padding:5px 5px 5px 60px;
              text-indent: -60px;
              border-radius:45px;;
          }

          .table{
              border-collapse: collapse;
              width: 100%;
              border:thin solid #000;
              padding: 20px;
              vertical-align:middle;
              text-align:center;
          }

          .table tr{
              border-bottom: thin solid #000;             
          }

          .table td{
              border-right: thin solid #000;
              padding: 10px;            
          }

          .certv{
              text-align:center;
          }

          .vbtn{
              padding:5px;
              margin-top:-20px;
              text-decoration:none;
              font-size:10px;
              background-color:green;
              color:#fff;
              position:relative;
              top:-10px;
              border-radius:10px;
          }

          .sbody{
              font-weight:600;
              font-size:15px;
              display:inline-block;
          }

          .file_photo{
              display:block;
              height:120px;
              right:0;
              float:right;
              margin:-25px 15px 10px 0;
              padding:2px;
              border:3px solid #b80924;
              border-radius:10px;
              background-color:#f1f2f3;
          }

          .marital{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              background-color:#b80924;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }

         .staff_no{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              letter-spacing:0.8em;
              background-color:#0d2d62;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }


          @media print {
              body{
                  background:none;
              }

              .cover{
                  padding:0;
                  background:none;
                  box-shadow:none;
              }

              .vbtn{
                  display:none;
              }
          }

    </style>
</head>
<body>
    <div class="cover">
          <header>
              <h1 class="title">UNIVERSITY OF CAPE COAST</h1>
              <h2 class="subtitle">DIRECTORATE OF HUMAN RESOURCE</h2>              
              <div class="subnote">
                    <div class="cover_adds">
                        <dl class="note">
                            <dt>Cellphone:  <div style="display:inline-block;vertical-align:top;font-weight:bold;">+233-3321-32480/3 Exts.: 223/225/205<br>233-3321-32484/5</div></dt>
                            <dt>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">dhr.enquiries@ucc.edu.gh</div></dt>
                            <dt>Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">www.ucc.edu.gh</div></dt>                   
                        </dl>                       
                    </div>
                
                  
                  <img src="/public/images/logo-170x172.png" alt="UCC LOGO" class="ucc_logo"/>
                  <address class="ucc_title">
                          UNIVERSITY POST OFFICE<br/>
                          CAPE COAST, GHANA
                  </address>
              </div>
              
          </header>  
          <content>
               <%- data.photo == null ? '<img src="/public/images/none.png" class="file_photo"/>':'<img src="'+data.photo+'" class="file_photo"/>' %>
              <h2 class="heading"><center>PROMOTION REQUEST FILE</center></h2>              
              <div class="content">
                  
                 <a class="marital"><%- data.staff_no %>   </a>                 
                 <a href="javascript:;" class="staff_no"><%- data.date.toUpperCase() %></a>
                
                  
                  <table class="table">
                      <!-- Personal Information-->
                       <tr>
                          <td align="left"  style="background:#f1f2f3;color:darkred;width:100px;"><h4 style="margin-bottom:-5px;">STATUS</h4></td>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><%- data.status %></h4></td>
                       </tr>
                       <tr>
                        <td align="left"  style="background:pink;color:darkred;width:100px;"><h4 style="margin-bottom:-5px;">RECEIVED ON</h4></td>
                        <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><%- data.date.toUpperCase() %></h4></td>
                     </tr>
                       <tr>
                          <td align="left"  style="background:#f1f2f3;color:darkred;width:100px;"><h4 style="margin-bottom:-5px;">FULL NAME</h4></td>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><%- data.name %></h4></td>
                         
                      </tr>
                       <tr>
                          <td align="left"  style="background:pink;color:darkred;width:100px"><h4 style="margin-bottom:-5px;">DESIGNATION</h4></td>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><%- data.jobtitle %> <em>(<%- data.staff_group %>)</em></h4></td>
                          
                      </tr>
                       <tr>
                          <td align="left"  style="background:#f1f2f3;color:darkred;width:100px;"><h4 style="margin-bottom:-5px;">UNIT</h4></td>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><%- data.unitname %></h4></td>
                         
                      </tr>
                      <% if(data.form_attachment){ %>
                      <tr>
                        <td align="left"  style="background:#f1f2f3;color:darkred;width:180px"><h4 style="margin-bottom:-5px;">COMBINED REQUEST FORM</h4></td>
                        <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><a href="<%- data.formpath %>" target="_blank" style="text-decoration:none;background:pink;color:darkred;padding:3px 10px;border-radius:15px;">PDF DOC</a></h4></td>
                      </tr>
                      <% } %>
                      <% if(data.paper_attachment){ %>
                       <tr>
                          <td align="left"  style="background:#f1f2f3;color:darkred;width:10px"><h4 style="margin-bottom:-5px;">COMBINED PAPERS</h4></td>
                          <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><a href="<%- data.paperpath %>" target="_blank" style="text-decoration:none;background:pink;color:darkred;padding:3px 10px;border-radius:15px;">PDF DOC</a></h4></td>
                      </tr>
                      <% } %>

                      <% if(data.report_attachment){ %>
                      <tr>
                        <td align="left"  style="background:#f1f2f3;color:darkred;width:160px"><h4 style="margin-bottom:-5px;">COMBINED REPORTS</h4></td>
                        <td colspan="2" align="left"><h4 style="margin-bottom:-5px;"><a href="<%- data.reportpath %>" target="_blank" style="text-decoration:none;background:pink;color:darkred;padding:3px 10px;border-radius:15px;">PDF DOC</a></h4></td>
                      </tr>
                      <% } %>
                      <% if(data.papers){ %>
                        <tr>
                          <td align="left"  style="background:#f1f2f3;color:darkred;width:160px"><h4 style="margin-bottom:-5px;">SUBMITTED PAPERS</h4></td>
                          <td colspan="2" align="left">
                                <% papers.forEach((d,i) => {
                                    var ex = []
                                    if(data.papers != null){
                                         ex = data.papers.split(',').filter(r => {
                                            return Number(d.id) === Number(r);
                                         });
                                         if(ex.length > 0){
                                    }
                                 %>
                                    <h4 style="margin-bottom:-5px;"><a target="_blank" style="text-decoration:none;background:#f1f2f3;color:#000;padding:3px 10px;border-radius:15px;font-size:12px"><%- d.title %></a></h4>
                                <% }})%>
                            </td>
                        </tr>
                        <% } %>
                     
                    
                   
                     
                     
                  </table>
                 
              </div>              
          </content>
          <footer>
              <span></span>
          </footer>        
    </div>

    <!--<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://example.com/the.pdf" width="500" height="375">-->
</body>
</html>