
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" id="page" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> PROMOTIONS (SM)</li>  
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> PROMOTIONS (JS & SS)</li>
                        </ul>
                        <hr style="border:1px dashed #0d2d62;"/>
                        
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                     <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">PROMOTION - SENIOR MEMBERS(SM)</h3></div>
                                     <div class="col-md-6">
                                         <a href="javascript:;" class="btn btn-primary btn-sm pull-right" style="margin:0 10px" onclick="var ins = prompt('Enter Staff Number!'); if(ins != null){alert('Statistics for Staff Number : '+ins);location.href='/hrm/leave/stats/'+ins}">View Leave Statistics</a>
                                         <a href="/hrm/addpromo?sg=sm" class="btn btn-primary btn-sm pull-right">Apply for Promotion</a>
                                    </div>
                                 </div>
                            
                                 <!-- JOB STATUS CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable" id="dynamic">
                                        <thead>
                                            <tr>
                                                <th width="5">STAFF NO</th>
                                                <th>FULL NAME</th>
                                                <th>STAFF GROUP</th>                                                                                    
                                                <th>PROMOTION DATE</th>                                                
                                                <th>RENEWAL DATE</th>                                               
                                                <th>RENEWALS NO.</th>
                                                <th>STATUS</th>                                       
                                                <th>&nbsp;</th>                                                                       
                                            </tr>
                                        </thead>                                        
                                        <tbody> 
                                          <% sm.map(row => { %>
                                             <tr>                                                                                             
                                                  <td><%- row.staff_no %></td> 
                                                  <td><small><%- row.owner %></small></td>  
                                                  <td><small><%- row.staff_group %></small></td> 
                                                  <td><small><%- row.appoint_date %></small></td>                                                 
                                                  <td><small><%- row.renew_date %></small></td>
                                                  <td><small><%- row.renew_no %></small></td>                                        
                                                  <td><button class="btn btn-lg" style="font-size:10px;"><%- row.status == '1' ? 'APPROVED' :'DISAPPROVE' %></button></td>                                                   
                                                  <td> 
                                                     <div class="group group-xl">
                                                        <a class="btn btn-primary btn-sm btn-left" title="View Promotion Application Form" href=""><i class="fa-print"></i><small> FORM</small></a>                                                       
                                                     </div>
                                                  </td>                                                                                                                                                                         
                                              </tr> 
                                         <% }) %>                                           
                                        </tbody>
                                    </table>
                                </div>
                          </div>                        



                        

                        </div>
                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>