<!DOCTYPE>
<html lang="en">
<head>
    <title>STAFF FILE | <%= data.bio.staff_no %></title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
          body{
            background-color:#eee;              
          }

          .cover{
              width: 920px;             
              margin: 10px auto;  
              box-shadow:2px 2px 4px #999;
              padding:20px 35px; 
              background:#fff;           
          }

          .title{
              text-align: center;
              font-size:34px;
              color: rgb(8, 8, 148); 
          }

          .subtitle{
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-weight:bolder;
              text-align: center;
              font-size:25px;
              word-spacing:0.5em;
              color: red;
              font-style:italic;
              margin-top:-15px;
          }

          .subnote{
             position: relative;
             height:60px;             
          }

          .cover_adds{
              position:absolute;
              left:0;
              top:0; 
              font-size:12px;
              color:rgb(8, 8, 148); 
              line-height:18px;           
          }

         .ucc_title{
              position:absolute;
              right:0;
              top:0; 
              text-align:right; 
              font-size:18px;
              line-height:25px;
              word-spacing:0.35em;
              font-weight:bold;                         
          }
          .ucc_logo{
            position:absolute;
            left:44.9%;
            top:0;   
            height: 80px;  
            width: 90px;                 
          }

          content{
              font-family:'Arial Narrow', Arial, sans-serif;
              font-size: 17px;
              display:block;
              padding-top: 50px;
          }

          address{
              font-style:normal;
          }

          .signatory{
              width:200px;
              height:130px;
              background-image:url(/public/images/logo-170x172.png);
              background-repeat: no-repeat;             
              background-position: 0% 0%;
              background-size: 200px 65px;
              position: relative;
          }

          .signer{
              position:absolute;
              left:0;
              bottom:0;
          }

          .salute{
              margin-top:20px;
          }

          .ref{
              margin-bottom:20px;
          }

          .end{
              position:relative;              
          }

          .copies{
              position: absolute;
              right:25%;
              top: 0;
          }

          footer{
              margin:80px 0 10px;
              font-size:10px;
              font-family:cursive;
              font-style:italic;
          }

          .heading{
              text-align:center;
              background:#b80924;
              color:#fff;
              padding:10px 5px 10px 60px;
              text-indent: 80px;
          }

          .table{
              border-collapse: collapse;
              width: 100%;
              border:thin solid #000;
              padding: 20px;
              vertical-align:middle;
              text-algn:center;
          }

          .table tr{
              border-bottom: thin solid #000;             
          }

          .table td{
              border-right: thin solid #000;
              padding: 10px;            
          }

          .certv{
              text-align:center;
          }

          .vbtn{
              padding:5px;
              margin-top:-20px;
              text-decoration:none;
              font-size:10px;
              background-color:green;
              color:#fff;
              position:relative;
              top:-10px;
              border-radius:10px;
          }

          .sbody{
              font-weight:600;
              font-size:15px;
              display:inline-block;
          }

          .file_photo{
              display:block;
              height:120px;
              right:0;
              float:right;
              margin:-25px 15px 10px 0;
              padding:2px;
              border:3px solid #b80924;
              border-radius:10px;
              background-color:#f1f2f3;
          }

          .marital{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              background-color:#b80924;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }

         .staff_no{
              padding:5px;
              margin-top:-20px;             
              font-size:15px;
              font-weight:bolder;
              letter-spacing:0.8em;
              background-color:#0d2d62;
              text-decoration:none;
              color:#fff;
              position:relative;
              top:1px;              
          }


          @media print {
              body{
                  background:none;
              }

              .cover{
                  padding:0;
                  background:none;
                  box-shadow:none;
              }

              .vbtn{
                  display:none;
              }
          }

    </style>
</head>
<body>
    <div class="cover">
          <header>
              <h1 class="title">UNIVERSITY OF CAPE COAST</h1>
              <h2 class="subtitle">DIRECTORATE OF HUMAN RESOURCE</h2>
              <div class="subnote">
                    <div class="cover_adds">
                        <dl class="note">
                            <dt>Cellphone:  <div style="display:inline-block;vertical-align:top;font-weight:bold;">+233-3321-32480/3 Exts.: 223/225/205<br>233-3321-32484/5</div></dt>
                            <dt>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">dhr.enquiries@ucc.edu.gh</div></dt>
                            <dt>Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">www.ucc.edu.gh</div></dt>                   
                        </dl>                       
                    </div>
                
                  
                  <img src="/public/images/logo-170x172.png" alt="UCC LOGO" class="ucc_logo"/>
                  <address class="ucc_title">
                          UNIVERSITY POST OFFICE<br/>
                          CAPE COAST, GHANA
                  </address>
              </div>
          </header>  
          <content>
              <%- data.bio.photo == null ? '<img src="/public/images/none.png" class="file_photo"/>':'<img src="'+data.bio.photo+'" class="file_photo"/>' %>
              <h2 class="heading"><%= title %></h2>              
              <div class="content">
                  <% if(data.doc.length > 0){ 
                      data.doc.map((row) => {
                          if(row.category == 'CV'){ 
                  %>
                 <!-- <a href="<%= row.path %>" target="_blank" alt="Curriculum Vitae of <%- data.bio.fname %> <%- data.bio.lname %> " class="marital">CV</a>-->
                 <%  } });} %>
                 <a href="javascript:;" target="_blank" alt="" class="staff_no"><%- data.bio.nox != null ? data.bio.nox : '' %></a>
                 <a href="javascript:;" target="_blank" alt="" class="marital" style="margin-left:5px;"><%- data.bio.staff_status != null ? data.bio.staff_status+' STAFF':'' %></a>
                 <a href="javascript:;" target="_blank" alt="" class="marital" style="margin-left:7px;"><%- data.bio.staff_group != null ? (data.bio.staff_group == 'SM'?'SENIOR MEMBER':(data.bio.staff_group == 'SS'?'SENIOR STAFF':'JUNIOR STAFF')):''%></a>
                 
                  
                  <table class="table">
                      <!-- Personal Information-->
                      <tr>
                          <td colspan="2" style="background:pink;"><h4 style="margin-bottom:-5px;">PERSONAL INFORMATION</h4></td>
                          <td style="background:#f1f2f3;">
                            <a href="javascript:;" target="_blank" alt="" class="staff_no"><%- data.bio.title ? ''+data.bio.title: '' %></a>
                            <a href="javascript:;" target="_blank" alt="" class="marital"><%- 'AGE: '+data.bio.age %></a>
                          </td>
                     </tr>
                      <tr>
                          <td><span class="shead">First Name:</span> <span class="sbody"><%- data.bio.fname != null ? data.bio.fname.toUpperCase() :'' %> </span></td>
                          <td><span class="shead">Middle Name(s):</span> <span class="sbody"><%- data.bio.mname != null ? data.bio.mname.toUpperCase() :'' %>  </span></td>
                          <td><span class="shead">Last Name:</span> <span class="sbody"><%- data.bio.lname != null ? data.bio.lname.toUpperCase() : '' %>  </span></td>
                      </tr>

                      <tr>
                            <td><span class="shead">Date of Birth:</span> <span class="sbody"><%- data.bio.dobx %>  </span></td>
                            <td><span class="shead">Place of Birth:</span> <span class="sbody"><%- data.bio.birth_place != null ? data.bio.birth_place.toUpperCase() :'' %>  </span></td>
                            <td><span class="shead">Home Town:</span> <span class="sbody"><%- data.bio.hometown != null ? data.bio.hometown.toUpperCase() :'' %>  </span></td>
                      </tr>

                      <tr>
                            <td><span class="shead">District:</span> <span class="sbody"><%- data.bio.district != null ? data.bio.district.toUpperCase() :'' %>  </span></td>
                            <td><span class="shead">Region:</span> <span class="sbody"><%- data.bio.region != null ? data.bio.region.toUpperCase() : '' %>  </span></td>
                            <td><span class="shead">Nationality:</span> <span class="sbody"><%- data.bio.country != null ? data.bio.country.toUpperCase() : '' %>  </span></td>
                      </tr>

                      <tr>
                            <td><span class="shead">Phone:</span> <span class="sbody"><%- data.bio.phone %>  </span></td>
                            <td><span class="shead">Home Address:</span> <span class="sbody"><%- data.bio.address != null ? data.bio.address.toUpperCase() :'' %>  </span></td>
                            <td><span class="shead">E-mail:</span> <span class="sbody"><%- data.bio.email != null ? data.bio.email.toLowerCase() : '' %>  </span></td>                            
                      </tr>

                      <!-- Family Information-->
                      <tr><td colspan="3" style="background:pink;"><h4 style="margin-bottom:-5px;">FAMILY INFORMATION</h4></td></tr>
                      <% if(data.rel.length > 0){
                          let m = 1;
                          data.rel.map((row) => {
                              if(row.relation == 'MOTHER' || row.relation == 'FATHER' && m == 1){
                      %>
                                 <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;background-color:#eee;">PARENTS</h6></td></tr>
                      <%       }  m++;   
                      
                          if(row.relation == 'FATHER'){         
                       %>
                      <tr>                         
                          <td><span class="shead">Father's Full Name:</span> <span class="sbody"><%= (row.name).toUpperCase(); %> </span></td>
                          <td><span class="shead">Father's Home Town:</span> <span class="sbody"><%- row.hometown != null ? row.hometown.toUpperCase() : '<em>Not provided!</em>'%></span></td>
                          <td><span class="shead">Father's Address:</span> <span class="sbody"><%- row.address != null ? row.address.toUpperCase() : '<em>Not provided!</em>'%></span></td>
                      </tr>
                      <%  } if(row.relation == 'MOTHER'){ %>
                      <tr>
                            <td><span class="shead">Mother's Full Name:</span> <span class="sbody"><%= (row.name).toUpperCase(); %></span></td>
                            <td><span class="shead">Mother's Home Town:</span> <span class="sbody"><%- row.hometown != null ? row.hometown.toUpperCase() :'<em>Not provided!</em>' %> </span></td>
                            <td><span class="shead">Mother's Address:</span> <span class="sbody"><%- row.address != null ? row.address.toUpperCase() : '<em>Not provided!</em>' %></span></td>
                      </tr>
                      <%  } }); }else{ %>
                      <%- '<tr><td colspan="3"><small><em>No Family record!</em></small></td></tr>' %> 
                      <% } %>
                     

                     <% if(data.rel.length > 0){
                     
                        data.rel.map((row) => {
                          if(row.relation == 'SPOUSE'){  %>
                      <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">SPOUSE</h6></td></tr>
                      <tr>
                            <td><span class="shead">Full Name:</span> <span class="sbody"><%= (row.name).toUpperCase(); %></span></td>
                            <td><span class="shead">Contact:</span> <span class="sbody"><%- row.phone != null ? row.phone.toUpperCase() : '<em>Not provided!</em>' %> </span></td>
                            <td><span class="shead">UCC-CODE:</span> <span class="sbody"><%- row.code != null ? row.code.toUpperCase() : '<em>None!</em>' %> </span></td>
                      </tr>
                      <%  } });} %>

                      
                      <% if(data.rel.length > 0){
                         let i = 1;
                        data.rel.map((row) => {
                          if(row.relation == 'CHILD'){  
                            if(i == 1){
                       %>
                      <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">CHILDREN</h6></td></tr>
                      <%    } %>
                      <tr>
                            <td><span class="shead">Child #<%- i%>:</span> <span class="sbody"><%= (row.name).toUpperCase()+(row.gender != null ? ' ('+row.gender+')' : ''); %> </span></td>
                            <td><span class="shead">Date of Birth:</span> <span class="sbody"><%- row.dobx != null ? row.dobx+(row.dobx != 'NOT SET'? '&nbsp;&nbsp;&nbsp;<em><small>(AGE : '+row.age+' )</small></em>' : '') : '<em>Not provided!</em>' %> </span></td>
                            <td><span class="shead">UCC-CODE:</span> <span class="sbody"><%- row.code != null ? row.code.toUpperCase() : '<em>None!</em>' %> </span></td>
                      </tr>
                      <%  i++;} }); } %>     
                      
                      
                      <% if(data.rel.length > 0){
                        let i = 1;
                       data.rel.map((row) => {
                         if(row.relation != 'CHILD' && row.relation != 'SPOUSE' && row.relation != 'MOTHER' && row.relation != 'FATHER'){  
                           if(i == 1){
                      %>
                     <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">OTHER RELATIVES</h6></td></tr>
                     <%    } %>
                     <tr>
                           <td><span class="shead">Relative #<%- i%>:</span> <span class="sbody"><%= (row.name).toUpperCase()+' ('+row.gender+')'; %> </span></td>
                           <td><span class="shead">Date of Birth:</span> <span class="sbody"><%- row.dobx != null ? row.dobx+(row.dobx != 'NOT SET'? '&nbsp;&nbsp;&nbsp;<em><small>(AGE : '+row.age+' )</small></em>' : '') : '<em>Not provided!</em>' %></span></td>
                           <td><span class="shead">Relation:</span> <span class="sbody"><%- row.relation != null ? row.relation.toUpperCase() : '<em>None!</em>' %> </span></td>
                     </tr>
                     <%  i++;} }); } %>              


                      <% if(data.rel.length > 0){
                        let i = 1;
                       data.rel.map((row) => {
                         if(row.kin == '1'){  
                           if(i == 1){
                       %>
                      <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">NEXT OF KIN(S)</h6></td></tr>
                      <%    } %>
                      <tr>
                            <td><span class="shead">Kin #<%- i%>:</span> <span class="sbody"><%= (row.name).toUpperCase(); %> </span></td>
                            <td><span class="shead">Contact:</span> <span class="sbody"><%= row.phone != null ? row.phone : '' %></span></td>
                            <td><span class="shead">Relation:</span> <span class="sbody"><%= row.relation != null ? row.relation.toUpperCase(): 'NOT STATED' %> </span></td>
                      </tr>
                      <%  i++;} }); } %>   

                      
                       <!-- Qualification Information-->
                       <tr><td colspan="3" style="background:pink;"><h4 style="margin-bottom:-5px;">CERTIFICATION INFORMATION</h4></td></tr>
                       
                       <% if(data.doc.length > 0){  %>
                        <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">PERSONAL DOCUMENTS</h6></td></tr>
                        <tr>
                       <%
                           data.doc.map((row) => {
                               if(row.category == 'BIRTH'){                                  
                       %>                       
                             <td>
                                <span class="sbody">BIRTH CERTIFICATE </span> 
                                <img class="certv" src="/public/images/verified.png"/> 
                                <a href="<%= row.path %>" target="_blank" class="vbtn" target="_blank">View</a> 
                            </td>
                      <% } if(row.category == 'MEDICAL'){  %>
                             <td>
                                <span class="sbody">MEDICAL CERTIFICATE </span> 
                                <img class="certv" src="/public/images/verified.png"/> 
                                <a href="<%= row.path %>" target="_blank" class="vbtn" target="_blank">View</a> 
                            </td>  
                      <% } if(row.category == 'MARITAL'){  %> 
                            <td>
                                <span class="sbody">MARRIAGE CERTIFICATE </span> 
                                <img class="certv" src="/public/images/verified.png"/> 
                                <a href="<%= row.path %>" target="_blank" class="vbtn" target="_blank">View</a> 
                            </td>  
                      <% } }); %>
                      </tr>
                      <% } %>  
                      
                      
                      <% if(data.cert.length > 0){
                        let i = 1;
                        
                       data.cert.map((row) => {
                           if(i == 1){
                       %>
                      
                       <tr ><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">ACADEMIC CERTIFICATE(S)</h6></td></tr>
                       <%    } %>
                       <tr>
                             <td><span class="shead">CERT #<%- i %>:</span> <span class="sbody"> <%=  row.cert_rate && row.cert_rate.toUpperCase() %> </span></td>
                             <td><span class="sbody"><%=  row.qualify && row.specialize && (row.qualify+' '+row.specialize).toUpperCase() %><br/> - <em><small>( AWARDED BY:  <%=  row.institution && row.institution.toUpperCase() %>)</small></em> </span></td>
                             <td>
                                 <img class="certv" src="/public/images/verified_cert.png"/>
                                 <% if(row.path){ %>
                                 <a href="<%= row.path %>"  target="_blank" class="vbtn" target="_blank">View</a>  
                                 <% } %>                          
                            </td>
                       </tr>
                       <%  i++; }); } %> 

                       
                       <!-- University Information-->
                       <tr><td colspan="3" style="background:pink;"><h4 style="margin-bottom:-5px;">UNIVERSITY INFORMATION</h4></td></tr>
                       <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">SSNIT & BANK DETAILS</h6></td></tr>
                       <tr>
                           <td><span class="shead">SSNIT Number:</span> <span class="sbody"><%- data.bio.ssnit != null ? data.bio.ssnit.toUpperCase() : ''%></span></td>
                           <td><span class="shead">Bank Account No:</span> <span class="sbody"><%- data.bio.account_no != null ? data.bio.account_no : '' %> </span></td>
                           <td><span class="shead">Bank & Branch:</span> <span class="sbody"><%- data.bio.bank_name != null ? data.bio.bank_name.toUpperCase():'' %>, <%- data.bio.account_branch != null ? data.bio.account_branch.toUpperCase() : '' %> BRANCH </span></td>
                       </tr>
                       <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">APPOINTMENT DETAILS</h6></td></tr>
                       <tr>
                             <td><span class="shead">Current Designation:</span> <span class="sbody"><%- data.bio.jobtitle != null ? data.bio.jobtitle : ''%> </span></td>
                             <td><span class="shead">Current Appointment Date:</span> <span class="sbody"><%- data.bio.appoint_date != null ? data.bio.appoint_date : 'NOT SET'%>  <!--<br><em><small>( 1 Year Probation Period )</small></em>--></span> </td>
                             <td>
                                 <span class="shead">First Appointment Date:</span> <span class="sbody"><%- data.bio.first_appoint != null ? data.bio.first_appoint.toUpperCase() : 'NOT SET'%></span><br>
                                 <span class="shead">First Confirmation Date:</span> <span class="sbody"><%- data.bio.first_confirm != null ? data.bio.first_confirm.toUpperCase() : 'NOT SET'%> </span>
                            </td>
                       </tr>
                       <tr><td colspan="3" style="background-color:#eee;"><h6 style="margin-bottom:-5px;">STAFF DETAILS</h6></td></tr>
                       
                       <tr>
                             <td><span class="shead">University Staff Number: </span> <span class="sbody"><%- data.bio.nox %> </span></td>
                             <td><span class="shead">University E-Mail: </span> <span class="sbody"><%- data.bio.ucc_mail != null ? data.bio.ucc_mail : '' %> </span></td>
                             <td><span class="shead">Salary & Grade: </span> <span class="sbody"> SSS <%- data.bio.grade != null ? data.bio.grade : '' %> </span></td>
                       </tr>                       


                    <!-- Transfer Information   -->
                    <% if(data.trans.length > 0){
                         let i = 1;
                         data.trans.map((row) => {
                            if(i == 1){
                     %>
                    <tr>
                        <td colspan="3" style="background:pink;">
                            <h4 style="margin-bottom:-5px;">TRANSFER INFORMATION</h4>
                        </td>
                    </tr>
                    <%    } %>
                    <tr>
                        <td colspan="3" style="background-color:#eee;">
                            <h6 style="margin-bottom:-5px;">TRANSFER #<%= i%></h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="shead">Date of Transfer:</span>
                            <span class="sbody"><%= row.transdate%> </span>
                        </td>
                        <td>
                            <span class="shead">Transferred From:</span>
                            <span class="sbody"><%= row.fromunit%> </span>
                        </td>
                        <td>
                            <span class="shead">Transferred To:</span>
                            <span class="sbody"><%= row.tounit%> </span>
                        </td>
                    </tr>
                    <%  i++; }); } %> 
                    
                   
                  </table>
                 
              </div>              
          </content>
          <footer>
              <span><%= 'DHR'+new Date().getFullYear()+'/'+user.staff_no%></span>
          </footer>        
    </div>
</body>
</html>