      
         <!-- Managers Dashboard -->
         <div class="row">
              <div class="col-xs-12 visible-xs hidden">
                   <a class="btn-sm btn btn-danger btn-block" data-toggle="modal" data-target="#addleave">APPLY FOR LEAVE</a>
                   <hr>
                    <ul class="nav nav-pills nav-stacked" style="">
                        <li class="<%- data[1] == 'st_leave_hist' ? 'active':'' %>" ><a href="/hrm/st/leave/hist">LEAVE HISTORY</a></li>
                        <li class="<%- data[1] == 'st_leave_stat' || data[1] == 'st_leave_view' ? 'active':'' %> <%- data[3] != null && data[3].length <= 0 ? 'hidden':'' %>"><a href="/hrm/st/leave/stat">LEAVE STATISTICS</a></li>
                    </ul>
                    
              </div>
              <div class="col-md-12 col-sm-12">
                    <div class="jumbotron">
                        <h2 class="text-info">
                          <i class="fa fa-user"></i> <%= new Date().getFullYear() %> LEAVE ENTITLEMENT
                          <a class="btn-sm btn btn-danger pull-right" data-toggle="modal" data-target="#addleave">APPLY FOR LEAVE</a>
                        </h2><hr>
                        <p style="font-weight:300;">
                         The Annual leave deduction for your category is <b class="text-danger"><u><%= leave.deduction %></u></b> leave days and you are entitled to <b class="text-success"><u><%= leave.entitlement %></u></b> leave days with <b class="<%= leave.balance > 0 ? 'text-success' :'' %>"><u><%= leave.balance > 0 ? leave.balance :'no' %></u></b> outstanding Annual leave balance.
                         You have used <b class="text-danger"><u><%= leave.used %></u></b> days of your total leave entitlement, so your leave days due for the rest of the year are <b class="text-success"><u><%= leave.due %></u></b> days.
                        </p>
                        <p>
                          <b class="text-danger hidden">
                              PLEASE, NOTE THAT LEAVE FOR THE CURRENT YEAR MAY NOT BE CARRIED OVER TO NEXT UNLESS APPROVAL FOR ITS DEFERMENT HAS BEEN GIVEN BY THE REGISTRAR, IN WRITING, ON RECOMMENDATION OF THE HEAD OF DEPARTMENT / SECTION,
                              AT LEAST THREE (3) MONTHS BEFORE THE LEAVE IS DUE. LEAVE NOT PROPERLY DEFERRED SHALL BE FORFEITED.
                          </b>
                        </p>
                    </div>
              </div>
         </div>
         
        
        <div class="row">
            <!-- STAFF OVERVIEW PAGE -->
           <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="">
                        <h3 class="panel-title"><i class="fa fa-user-circle"></i> <%- data[0].toUpperCase();%>
                            <% if(data[1] == 'st_leave_stat' || data[1] == 'st_leave_view'){ %>
                              <a href="javascript:;" target="_blank" class="btn btn-danger pull-right btn-sm " onclick="window.frames['printf'].focus();window.frames['printf'].print();"><i class="fa fa-print"></i> Print</a>
                            <% } %>
                            <% if(data[1] == 'st_leave_stat' || data[1] == 'st_leave_view' || data[1] == 'st_leave_hist'){ %>
                              <a class="btn-sm btn btn-primary pull-right" style="margin:0 5px" data-toggle="modal" data-target="#addleave">APPLY <span class="hidden-xs">LEAVE</span></a>
                            <% } %>
                        </h3>
                    </div>
                    <div class="panel-body">
                          <!-- Page Content -->
                          <%- include('../partials/'+data[1]); %>
                    </div>
                </div>
            </div>

        </div>
  

    <!--Modal Form -->
          <div class="modal fade" id="addleave" tabindex="-1" role="dialog" aria-labelledby="addleave" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-info" id="addleave">LEAVE APPLICATION FORM</h5>
                  <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body bg-danger">
                 
                  <form name="formleave" method="post" action="/hrm/postleave" enctype="multipart/form-data">
                         
                              <div class="form-group">
                                  <label class="form-label form-label-outside" for="type">LEAVE TYPE *</label>
                                  <select class="form-control" id="type" name="type">
                                      <option>Choose Category</option>
                                  </select>                                
                              </div>
                     
                             
                       <div class="main_cover">

                              <div class="form-group group1">
                                <label class="form-label form-label-outside rd-input-label" for="entitlement">LEAVE ENTITLEMENT</label>
                                <input class="form-control form-control-has-validation form-control-last-child group1n entitlement" id="entitlement" readonly="readonly" type="text" name="entitlement" value=""><span class="form-validation"></span>
                              </div>

                              <div class="form-group group1">
                                <label class="form-label form-label-outside rd-input-label" for="approved_days">LEAVE DAYS *</label>
                                <input class="form-control form-control-has-validation form-control-last-child group1n approved_days" id="approved_days" type="number" min="1" name="approved_days" value="" placeholder="Number of days for leave"><span class="form-validation"></span>
                              </div>

                              <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label" for="start_date">EXPECTED START DATE *</label>
                                <input class="form-control " id="start_date" type="text" name="start_date" value="" placeholder="YYYY-MM-DD">
                              </div>
                              <div class="form-group end_date">&nbsp;</div>
                         
                              <div class="form-group group2">
                                <label class="form-label form-label-outside rd-input-label" for="entitlement">LEAVE PERMIT <em>( SCANNED CERTIFICATE OR PROOF )</em> *</label>
                                <input class="form-control form-control-has-validation form-control-last-child  group2n entitlement" id="entitlement" type="hidden" name="entitlement" value=""><span class="form-validation"></span>
                                <input class="form-control form-control-has-validation group2n" id="leave_cert"type="file" name="leave_cert" placeholder="Please upload leave permit">
                              </div>
                         
                              <div class="form-group group2">
                                  <label class="form-label form-label-outside rd-input-label" for="approved_days">CERTIFIED LEAVE DAYS *</label>
                                  <input class="form-control form-control-has-validation form-control-last-child group2n approved_days" id="approved_days" type="number" min="1" name="approved_days" value="" placeholder="Number of days for leave"><span class="form-validation"></span>
                              </div>
                        
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="emergency_note">EMERGENCY CONTACT PERSON ( NAME & ADDRESS ) *</label>
                                  <input class="form-control" id="emergency_note" type="text" name="emergency_note" value="" placeholder="Name of person to fall on and address" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                          
                              <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label" for="emergency_contact">EMERGENCY CONTACT (PHONE) *</label>
                                <input class="form-control" id="emergency_contact" type="number" name="emergency_contact" value="" placeholder="Phone number of person" maxlength="10" >
                              </div>
                           
                              <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label" for="apply_note">REMARKS ( OPTIONAL )</label>
                                <textarea class="form-control" id="apply_note" name="apply_note" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                              </div>
                          
                              <input id="staff_no" type="hidden" name="staff_no" value="">
                              <!--<input name="staff" type="hidden" value="" />--> 
                              <input id="urlto" name="urlto" type="hidden" value="" />
                              <input id="id" name="id" type="hidden" value="" />
                              <input id="staff_group" name="staff_group" id="staff_group" type="hidden" value="" />
                        

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                <button type="submit" class="btn btn-info" id="save">SAVE</button>
                              </div>
                       </div>
                 </form>
                </div>
              </div>
            </div>
          </div>
         